<div class="dashboard-shell">
  <app-sidebar
    [menuItems]="menuItems"
    [isSidebarOpen]="isSidebarOpen"
    [activeSubmenu]="activeSubmenu"
    [sessionUserName]="sessionUserName"
    [sessionUserRole]="sessionUserRole"
    (toggleSidebarEvent)="toggleSidebar()"
    (toggleSubmenuEvent)="toggleSubmenu($event)"
    (closeAllMenusEvent)="closeAllMenus()"
    (closeSidebarEvent)="closeSidebar()"
  ></app-sidebar>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
<app-footer></app-footer>
