:host {
  display: block;
  --home-font-size: 0.82rem;
}

.top-bar {
  background-color: #ebebeb !important;
  border: none !important;
  border-radius: 0.6rem;
  padding: 1rem;
}

.form-label,
.form-control,
.form-select,
textarea {
  font-size: var(--home-font-size);
}

